<meta charset="utf-8" />
<title> {% if page.title %} {{ page.title }} | {% endif %} Creeperdance </title>

<!-- 移动优先，自适应手机屏幕-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--解决bootstrap不支持IE兼容模式问题，为了让IE浏览器运行最新的渲染模式-->

<!--引入bootstrap css文件-->
<link rel="stylesheet" type="text/css" href="{{ site.url}}/css/bootstrap.min.css" />
<!--引入图标库-->
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css"/>

<!--引入css文件-->
<link rel="stylesheet" href="{{ site.url}}/css/style.css" /></link>
<!--引入jquery-->
<script type="text/javascript" src="{{ site.url}}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.url}}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.url}}/js/index.js"></script>